#sitemap_content{margin-left:5em}
div.sitemap_block{_height:120px;float:left;min-height:120px;padding:0;width:42%}
div.sitemap_block ul{text-align:left}
div.sitemap_block h3,.categTree h3{margin-bottom:1em;margin-top:1em}
div.categTree{float:left;margin-bottom:1em;margin-left:52px;margin-top:25px}