<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>gameworldtopseller</name>
            <displayName><![CDATA[Best Seller Products by Category on the homepage]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Displays best seller Products block by category in your homepage.]]></description>
            <author><![CDATA[CodeSpot]]></author>
            <tab><![CDATA[MyBlock]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>